body, main {
    margin: 0;
    padding: 0;
  }
  
  .hero {
    background-image: url('/src/components/img/sevilla-mas.jpeg'); 
    background-size: cover;
    background-position: center;
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white; 
  }
  
  .hero h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
  }
  
  .hero p {
    font-size: 1.5em;
    line-height: 1.5;
  }
  