.quienes-somos {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    background-image: url('/src/components/img/background.jpeg'); /* Ruta de la imagen de fondo */
    background-size: cover;
    background-position: center;
    min-height: calc(100vh - 140px); /* Ajusta según la altura del header y footer */
  }
  
  .column-container {
    display: flex;
    justify-content: space-between; /* Distribuye el espacio entre las columnas */
    width: 100%; /* Asegura que las columnas ocupen todo el ancho del contenedor */
  }
  
  .section {
    width: calc(50% - 10px); /* Establece el ancho de cada columna con un margen entre ellas */
    background-color: rgba(255, 255, 255, 0.9); /* Color de fondo con transparencia para que el texto sea legible */
    padding: 20px;
  }
  
  .section h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #333;
  }
  
  .section p {
    font-size: 1em;
    line-height: 1.5;
    color: #666;
  }
  